POSTGRES_USER=admin
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=collab_engine

# Notice the hostnames are 'postgres', 'mongodb', and 'redis'
DATABASE_URL=postgresql+psycopg2://admin:your_postgres_password@postgres:5432/collab_engine

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_mongodb_password
MONGO_URI=mongodb://admin:your_mongodb_password@mongodb:27017/crdt_store?authSource=admin

REDIS_URL=redis://redis:6379/0

CORE_API_PORT=8000
SYNC_SERVICE_PORT=3001